* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
}

.grid-container > * {
    box-shadow: 4px 4px 8px rgba(128, 128, 128, 0.705);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.grid-container {
   
}
